<p class="grid-container2"><img height="100" width="100" style="text-align: right;" src="<%= img_url %>"></p>
<h1 class="mt-4">User Dashboard (Admin)</h1>
<p class="lead mb-3">Welcome <%= user.name %> (ID# <%= user.id %>)</p>
        <% 
        let admins = [];
        let noad = 'No admins currently online'
        let ad = 'Admins currently online:'
        let dash = '- '
        for (i in sessions){
            for (a in database){
                if (database[a]['id'] == sessions[i]['passport']['user']){
                    if (database[a]['role'] == 'admin' || database[a]['role'] == 'superadmin'){
                    admins.push(database[a]['name'])}
                }
            }
        };
        if (admins.length == 0){ %>
            <%= noad %>
        <%} else{
                %><%= ad %><br><%
                for (b in admins){
                    %><%= dash %><%= admins[b] %><br><%
                }}
        %>
</p>
<a href="/auth/logout" class="btn btn-secondary git">Logout</a><a href="/admin" class="btn btn-secondary git">Admin</a>
<form action="/valorant" method="POST">
    <label for="fname">Riot ID:</label>
    <input placeholder="Ex. JohnDoe#0000" type="text" id="riotid" name="riotid">
    <input type="submit" value="Submit">
  </form>
<% if (val[0] == true){ for (i in val[1]){%>
    <p><%= String(i)+": "+String(val[1][i])+"\n" %></p>
    <% }} %>